
* {
padding: 0;
margin: 0;    
}

html {
box-sizing: border-box;    
}

body {
background-color: #C4EDD1;    
}

#logo {
width: 128px;
height: 48px;
}

.flex-container {
display: flex;
flex-direction: row;
}

.left-content {
background-color: #fff;
width: 50%;
padding: 25px;
}

#login {
max-width: 800px;    
margin-top: 125px;    
}

#login h3 {
font: 900 1.5em "Inter", sans-serif;
color: #000; 
}

#login a {
display: block;    
font: 400 0.9em "Inter", sans-serif;
color: #000;  
float: right;
margin-top: 15px;
}

#login form input[type='email'],
#login form input[type='password'],
#login form input[type='submit'] {
width: 100%;
height: 45px; 
margin-top: 15px;
border-radius: 10px;
outline: transparent;
}

#login form input[type='email'], 
#login form input[type='password'] {  
border: 2px solid rgba(32, 55, 11, 0.2);
}

#login form input[type='email']::placeholder, 
#login form input[type='password']::placeholder {  
padding-left: 8px;
}

#login form label {
font: 400 0.9em "Inter", sans-serif;
}

#login form input[type='checkbox'] {
margin: 15px 5px 15px 0;    
}

#login form input[type='email'] {
margin-bottom: 15px;    
}

#login form input[type='submit'] {
font: 700 1em "Inter", sans-serif; 
height: 60px;
background: #B3E3C3;
border: 2px solid rgba(32, 55, 11, 0.2);
cursor: pointer;
}

.right-content {
width: 50%;
}

.right-content img {
display: block;    
max-width: 100%;  
height: 100vh;
object-fit: cover;
}

/* Dashboard */


#dashboard {  
width: 75%;   
margin: 50px auto 0 auto;
}

.card {
display: flex;
flex-direction: row;      
width: 85%;    
margin: 0 auto;    
border: 2px solid rgba(32, 55, 11, 0.4);
border-radius: 50px;
background: #B3E3C3;
padding: 25px;
}

header {
display: flex;
flex-direction: row;  
justify-content: space-between;
align-items: center;
}

header .left-content,
#dashboard .card .left-content {
background-color: transparent; 
}

#dashboard .card .right-content {
width: 45%;
}

header .right-content {   
width: 75px; 
}

header .right-content svg {
width: 35px; 
height: 35px; 
}

#dashboard header {
display: block;    
}

#dashboard header h3 {
font: 700 1.2em "Inter", sans-serif;
color: #000; 
}

#dashboard header p {
font: 400 0.9em "Inter", sans-serif;
color: #000;
margin-bottom: 25px;     
}

.gradient-bar {
margin: 25px 0;
}

.solar-bar-rect {
display: block;
width: 500px;
height: 30px;
}

.status-label-container,
.model-detail-flex,
.kWh-total-container {
display: flex;    
justify-content: space-between;
width: 100%;
}

.model-details h4 {
font: 700 1em "Inter", sans-serif;
color: #000;
}

.kWh {
font: 700 1em "Inter", sans-serif;
color: #000;    
}

.model-detail-flex div {
font: 400 0.9em "Inter", sans-serif;
color: #000;
}

.kWh-total-container {
justify-content: flex-start;
align-items: center;
}

.kWh-total-container div,
.status-label-container div {
font: 400 0.9em "Inter", sans-serif;
color: #000;
margin-bottom: 25px;  
}

.kWh-total-container img {
width: 32px;
height: 32px;
margin-right: 10px;
}

.marker {
transition: transform 0.5s ease-out; 
}

.efficiency-dial-card {    
width: 50%;   
height: 13vh; 
background-color: #20370B;
border-radius: 50px; 
margin: 8% auto;
position: relative;
}

#energy-dial {
display: block;    
position: relative;
top: 15px;
}

.efficiency-metrics {   
width: 45%;
position: relative;
top: -95px;
left: 50%;
transform: translate(-50%, -50%);
}

.efficiency-percentage {
width: 100%;
text-align: center; 
font: 300 0.9em "Inter", sans-serif;
letter-spacing: 1px;
color: #fafafa;
}

.percentage {
font: 300 3em "Inter", sans-serif;
color: #64C082; 
justify-content: center;
align-items: center;
}