{% extends 'base.html' %}
{% include 'header.html' %}
{% block content %}
<div id="dashboard">
   {% for solar_farm in solar_farms %} 
   <div class="card">
      <div class="left-content">
        <header>
          <h3>{{ solar_farm.name }}</h3>
          <p>{{ solar_farm.location}}</p>
        </header>
        <div class="model-details">
           <h4>{{ solar_farm.model }}</h4>
           <div class="model-detail-flex">
             <div>Current Output / Peak Daily Range (kW)</div>
             <div>{{ solar_farm.total_panels }} panels</div>
           </div>
           <div class="status-indicator">
              <svg id="status-bar-gradient" class="gradient-bar" viewBox="0 0 500 45" preserveAspectRatio="xMidYMid meet"></svg>
              <div class="status-label-container">
                <div>{{ solar_farm.daily_low }} kW (min)</div>
                <div class="live-value"><span class="kw-value">{{ solar_farm.current_kw }}</span> kW (current)</div>
                <div>{{ solar_farm.daily_high }} kW (max)</div>
              </div>
              <div class="kWh-total-container">
                <div><img src="{{ url_for('static', filename='images/sunny.svg')}}" class="weather-status"></div>
                <div><span class="kWh">{{ solar_farm.kWh }}</span> kWh Generated Today</div> 
              </div>
              
           </div>
        </div>
      </div>
      <div class="right-content">
        <div class="efficiency-dial-card">
            <svg id="energy-dial" width="100%" height="215px" viewBox="0 0 400 306"></svg>
            <div class="efficiency-metrics">
                <div class="efficiency-percentage">
                    <span class="percentage">{{ solar_farm.efficiency }}%</span>
                    <span>Efficiency</span>
                </div>
            </div>
        </div>
      </div>
   </div> 
{% endfor %}
</div>
{% endblock %}